<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
<td><%= image_tag(@book.image, style: 'width:10% ')  if @book.image.attached?%></td>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @book.creation_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.category_name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
